**/cache
**/debug
**/paste-cache
**/plugins
**/projects
**/todos
**/file-history
**/shell-snapshots
**/plans
**/session-env
.claude-code-api.json
claude_code_auth.sh
history.jsonl
settings.json
settings.local.json
stats-cache.json
**/backups
**/ide
**/sessions
**/tasks
mcp-needs-auth-cache.json
policy-limits.json
setup-claude.sh